.exerciseName {
	color: #ff2625;
	text-transform: capitalize;
}

.exercise-video {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 387px;
	height: 381px;
	text-decoration: none;
}

@media screen and (max-width: 1200px) {
	.exercise-video {
		width: 320px;
		height: 300px;
	}
}
