.Logo {
	width: 3rem;
	height: 3rem;
	margin: 0 1.25rem;
}

.Home{
	text-decoration: none;
	color: #3A1212;
	border-bottom: 3px solid #FF2625;
}

.excercises {
	text-decoration: none;
	color: #3A1212;
}


