body {
	font-family: 'Josefin Sans';
	background-color: #fffafb;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0px;
}

.react-horizontal-scrolling-menu--wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.exercise-video {
	display: flex;
	flex-direction: column;
	gap: 24px;
	width: 387px;
	height: 381px;
	text-decoration: none;
}

@media screen and (max-width: 1200px) {
	.react-horizontal-scrolling-menu--scroll-container {
		width: 500px;
	}

	.exercise-card {
		width: 320px;
	}

	.exercise-video {
		width: 320px;
		height: 300px;
	}
}
