body {
	font-family: 'Josefin Sans';
	background-color: #fffafb;
}

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0px;
}

.react-horizontal-scrolling-menu--wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
	.react-horizontal-scrolling-menu--scroll-container {
		width: 500px;
	}
}
